@model BandMadness.Models.Member
@{
	ViewBag.Title = "Edit";
}

<h2>Edit Member</h2>

@using (Html.BeginForm("Edit", "Member", FormMethod.Post, new { @class = "form-horizontal" }))
{
	@Html.AntiForgeryToken()

	<div class="form-group">
		@Html.HiddenFor(m => m.MemberID)

			<table>
				<tr>
					<th>@Html.LabelFor(m => m.FirstName, new { @class = "control-label col-md-4" })</th>
					<th>@Html.LabelFor(m => m.LastName, new { @class = "control-label col-md-4" })</th>
					<th>@Html.LabelFor(m => m.Alias, new { @class = "control-label col-md-4" })</th>
				</tr>
				<tr>
					<td>@Html.EditorFor(m => m.FirstName, new { @class = "form-control col-md-7" })</td>
					<td>@Html.EditorFor(m => m.LastName, new { @class = "form-control col-md-7" })</td>
					<td>@Html.EditorFor(m => m.Alias, new { @class = "form-control col-md-7" })</td>
				</tr>
			</table>
		<table>
			<tr><th>@Html.LabelFor(m => m.Instruments, new { @class = "control-label" })</th></tr>
			<tr><td>@Html.ListBoxFor(m=>m.InstrumentSelection.InstrumentIDs, Model.InstrumentSelection.MultiSelectList,new {@class="form-control"})</td></tr>

		</table>
			<br />





		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Save" class="btn btn-default" />
			</div>
		</div>
	</div>
}
<div>
	@{ Html.RenderPartial("_Delete", Model);}
</div>
<div>
	@Html.ActionLink("Back to List", "Index")
</div>
